:root {
    --main-bg: #1C3240;
    --dark-bg: #072026;
    --medium-bg: #59343B;
    --light-bg: #8C494F;
    --accent-bg: #8C6565;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    padding: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: var(--main-bg); */
    background-image: url("images/wheat.png");
  }
  
.quiz {
    display: grid;
    grid-template-areas: 
    "timer"
    "question"
    "answers";
}

.title {
    grid-area: title;
    background-color: var(--light-bg);
}

.scoreboard {
    grid-area: scoreboard;
    background-color: var(--medium-bg);
}

.timer {
    grid-area: timer;
    background-color: var(--light-bg);
}

.question {
    grid-area: question;
    background-color: var(--main-bg);
    color: var(--accent-bg);
    font-size: xx-large;
}

.answers {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    width: 100%;
    grid-area: answers;
    /* background-color: var(--light-bg); */
}

button {
    background-color: var(--main-bg);
    color: var(--accent-bg);
}

input {
    width: 80px;
}

label {
    color:var(--dark-bg);
    background-color: var(--light-bg);
    width: 80px;
}
