*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
  }